<!--<div class="example-container">-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Input</mat-label>-->
<!--    <input matInput>-->
<!--  </mat-form-field>-->
<!--  <br>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Select</mat-label>-->
<!--    <mat-select>-->
<!--      <mat-option value="option">Option</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  <br>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Textarea</mat-label>-->
<!--    <textarea matInput></textarea>-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<button type="button" class="btn btn-primary"-->
<!--        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">-->
<!--  Simple demo-->
<!--</button>-->
<router-outlet></router-outlet>
